*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #ebdde7, #e0e5ed);
}

.heading{
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
    color: rgb(23, 3, 141);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    height: 105px;
    width: 105px;
    /* border: 2px solid #06068b; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-right: 4px solid #06068b;
    border-bottom: 4px solid #06068b;
}

.col:hover {
    background-color: #ddd;
}
.row .col:last-child {
    border-right: none;
}

.grid .row:last-child .col {
    border-bottom: none;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin-top: 30px; */
}

#message {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

#restart {
    border: 2px solid #fff;
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100px;
    display: none;
    cursor: pointer;
}

#restart:hover {
    background-color: #050546;
}
